# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diretório de build
dist
build

# Dependências
node_modules
.pnp
.pnp.js

# Arquivos de teste
coverage
*.test.ts
*.spec.ts

# Arquivos de configuração IDE
.idea
.vscode
*.iml
.project

# Arquivos temporários do editor
*~
*.swp
*.swo

# Arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Arquivos de cache yarn
.yarn-cache
.yarn-integrity
yarn_lock

# Arquivos específicos do TypeScript
*.tsbuildinfo

# Arquivos .env (variáveis de ambiente) - DESCOMENTE SE FOR COMMITAR AS VARIAVEIS DE AMBIENTE NO GIT
.env
.env.test

createdb.js
getschema.js

# Arquivos de cache do Docker
**/.cache

# Arquivos do Railway - DESCOMENTE SE FOR USAR
#*.up.railway.yaml
#*.up.toml